body{
    background-color: #171717;
    text-align: center;
    color: yellowgreen;
    margin: 30px;
    font-weight: bold;
    font-size: 20px;
    font-family: monospace;
}
ul{
    list-style: none;
}
.nav {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}
.nav .logo span {
  font-size: 30px;
  border-right: .15em solid #00ffcc;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  animation: typing 2s steps(4) 1, blink 0.7s step-end infinite;
}
.nav .nav-items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.nav .nav-items a {
  font-size: 20px;
  text-decoration: none;
  color: yellowgreen;
}
.nav .nav-items a:hover {
  color: grey;
}
.profil{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
img{
    border-radius: 50%;
    width: 350px;
    border: thick double yellowgreen;
}
li{
    list-style-type:none;
    
}
.network li{
    display: inline;
}
.network a{
    color: yellowgreen;
}
@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

@keyframes typing {
  from { width: 0 }
  to { width: 4ch }
}

@keyframes blink {
  50% { border-color: transparent; }
}