body {
  margin: 0 !important;
  font-family: monospace;
  color: yellowgreen;
  background-color: #171717;
}

/* HEADER */
.nav {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}
.nav .logo span {
  font-size: 30px;
  border-right: .15em solid #00ffcc;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  animation: typing 2s steps(4) 1, blink 0.7s step-end infinite;
}
.nav .nav-items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.nav .nav-items a {
  font-size: 20px;
  text-decoration: none;
  color: yellowgreen;
}
.nav .nav-items a:hover {
  color: grey;
}

@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

@keyframes typing {
  from { width: 0 }
  to { width: 4ch }
}

@keyframes blink {
  50% { border-color: transparent; }
}

/* MAIN */
main {
    display: flex;
    width: 80%;
    margin: 3rem auto 0;
    gap: 4rem;
}

.container-right{
  display: flex;
  flex-direction: column;
  align-items: center;
}

em {
    font-size: 2.2rem;
    font-weight: bold;
}

.title {
    font-size: 6rem;
    text-align: center;
}

.avatar {
    display: block;
    margin: auto;
    height: 20rem;
    width: 20rem;
    border-radius: 50%;
    border: solid 1rem yellowgreen
}

.list {
    list-style: none;
    padding-left: 0;
}

.list > li::before {
    content: "✦ ";
    color: yellowgreen;
    margin-right: 8px;
    font-size: 1.2em;
  }

.information {
    font-size: 2rem;
    margin: 1rem auto;
}

.list-element {
    display: flex;
    margin-top: 2rem; 
    list-style: none;  
}

.list-element_item {
    display: flex;
    flex-direction: column;
    margin: 0 2rem;
    align-items: center;   
    list-style: none; 
}

.logo-element {
    height: 5rem;
    width: 5rem;
    margin-bottom: 1rem;    
}

.element-name {
  font-weight: normal;
  font-style: normal;
  font-size: 1.5rem;
}

@media (max-width: 768px) {
    main {
        flex-direction: column;
        width: 90%;
        gap: 2rem;
    }

    .title {
        font-size: 3.5rem;
        text-align: center;
    }

    em {
        font-size: 1.6rem;
        text-align: center;
    }

    .avatar {
        height: 15rem;
        width: 15rem;
    }

    .list > li {
      text-align: start;
    }

    .information {
        font-size: 1.6rem;
        text-align: center;
    }

    .list-element {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-top: 1.5rem;
    }

    .list-element_item {
        margin: 2rem 1rem;
    }

    .logo-element {
        height: 4rem;
        width: 4rem;
    }

    .element-name {
        font-size: 1.3rem;
    }
}

